<thead>
    <tr>
    <th scope="col">Дата</th>
    <th scope="col">Сумма заказа</th>
    <th scope="col">Заказчик</th>
    </tr>
</thead>

<tbody id = 'table'>
{% for item in orders %}

<tr>
    <td>
        <div class="media">
            <div class="media-body">
                <p>{{ item.order_date }}</p>
            </div>
        </div>
    </td>
    <td>
        <h5>{{ item.price }}</h5>
    </td>
    <td>
        <h5>{{ item.customer.username }}</h5>
    </td>
    <td>
        <a class="gray_btn" href="{% url 'orders:delete' item.id %}" role="button" onclick="return confirm( 'Вы уверены?')">
            Удалить
        </a>
    </td>
</tr>

{% endfor %}
</tbody>


