<div id = 'a'>

{% extends "base.html" %}
{% block content %}
{% load user_filters %}
<form method="post" id = form >{{ csrf_input }}
        {% csrf_token %}
        <h5 >Выбрать неделю:</h5>
        <label

                 {% for field in form %}
                    <div aria-required={% if field.field.required %}'true'{% else %}"false"{% endif %}>
                          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>

                                    {{ field|addclass:"form-control" }}
                                    {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                   {% endif %}

                 {% endfor %}
            <br>
            <button type="button" class="btn btn-primary" id="add" onclick=orderChoice()>Выбрать  </button>

    </form>
    <br>

Сумма за неделю: {{ data_for_week.week_sum }}
    <br>
    Заказчики за неделю:
    {% if data_for_week.week_customers %}
     {% for customer in data_for_week.week_customers %}
{{ customer.username }}
    {% endfor %}
    {% endif %}
{% if data_for_week.orders_current_week %}
<h5 class="card-header">Заказы за неделю</h5>
{% for item in data_for_week.orders_current_week %}

<div class="media card mb-4">

    <div class="media-body card-body">
        <div class="jumbotron">
Дата
                {{ item.date }}

            <p>Сумма за день {{ item.day_sum }}</p>
            <p>Число заказчиков {{ item.customers }}</p>



        </div>
    </div>
</div>
{% endfor %}
{% endif %}




     <script>
      function orderChoice() {
      var formData = new FormData(document.querySelector('form'));
       var xhttp = new XMLHttpRequest();


       xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        document.getElementById('form').innerHTML = '';
        document.getElementById('a').innerHTML = this.responseText;
        }
         };


       xhttp.open('POST', '', true, );
       xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
       xhttp.send(formData);


}
  </script>
{% endblock %}

     </div>