<div id = 'a'>
{% extends "base.html" %}
{% block content %}
{% load user_filters %}
{% if user.is_authenticated %}
    <form method="post" id = form >{{ csrf_input }}
        {% csrf_token %}
        <h5 >Добавить заказ:</h5>
        <label

                 {% for field in form %}
                    <div aria-required={% if field.field.required %}'true'{% else %}"false"{% endif %}>
                          <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>

                                    {{ field|addclass:"form-control" }}
                                    {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                   {% endif %}

                 {% endfor %}
            <br>
            <button type="button" class="btn btn-primary" id="add" onclick=postAdd()>Добавить  </button>

    </form>
<output id = out></output>


{% endif %}


{% if orders %}
<h5 class="card-header">Все заказы</h5>


<div class="jumbotron2">
            <p id = 'customer'></p>
            <p id = 'price'></p>
            <p id = 'order_date'></p>


        </div>
{% for item in orders %}
<div class="media card mb-4">

    <div class="media-body card-body">

        <div class="jumbotron">

                {{ item.customer.username }}

            <p>{{ item.price }}</p>
            <p>{{ item.order_date }}</p>

            <a class="button style2" href="{% url 'orders:delete' item.id %}" role="button" onclick="return confirm( 'Вы уверены?')">
                    Удалить
                    </a>


        </div>
    </div>
</div>
{% endfor %}
{% endif %}
    </div>

     <script>
      function postAdd() {
      var formData = new FormData(document.querySelector('form'));
       var xhttp = new XMLHttpRequest();


       xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
        document.getElementById('form').innerHTML = '';
        document.getElementById('a').innerHTML = this.responseText;
        }
         };


       xhttp.open('POST', 'create_order', true, );
       xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
       xhttp.send(formData);
       document.querySelector('form').reset();

}
  </script>
{% endblock %}









