<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                {% block content %}
                {% endblock content %}
              </div>
          </div>
      </div>
    </section>
</body>
</html>




