<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">


      {% if user.is_authenticated %}
       <li>Пользователь: {{ user.username }}</li>
       <li><a href="{% url 'users:logout' %}" class="scrolly">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}" class="scrolly ">Войти</a></li>
        <li><a href="{% url 'users:signup' %}" class="scrolly">Зарегистрироваться</a></li>
        {% endif %}

              <output id = 'out' >  </output>

     <button type="button" onclick="getVersion()">Run HELLO</button>

            <script >
    function getVersion() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('out').innerHTML = this.responseText;
      }
    };
    xhttp.open('GET', 'hello', true);
    xhttp.send();
}
</script>
    {% block content %}


    {% endblock content %}
    <script >
    function getVersion() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById('out').innerHTML = this.responseText;
      }
    };
    xhttp.open('GET', 'hello', true);
    xhttp.send();
}
</script>


          </div>
        </div>
      </nav>
    </div>
  </header>